# Ignore database keys
server/keys

# Ignore node modules
server/node_modules
client/node_modules

#Ignore sqlite3 database
server/cardsDatabase.db

#Ignore gigantic scryfall JSON
server/scryfall-default-cards.json