# Ignore database keys
server/keys

# Ignore node modules
server/node_modules
client/node_modules

#Ignore sqlite3 database
server/database/sqlite_storage

#Ignore database config fild
server/database/config.js

#Ignore gigantic scryfall JSON
server/scryfall-default-cards.json

#Ignore .env file with super secret tech
server/.env